<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock title %} | MDN test
        </title>
    {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock head %}
</head>
<body>
    
    <div class="wrap con row">
        <div class="side_bar_box cell">
        {% block side_bar %}
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'index' %}"> All book </a></li>
                    <li><a href="{% url 'index' %}">All authors</a></li>
                </ul>
        {% endblock side_bar %}
        </div>

        <div class="content_box cell">
        {% block content %}
        {% endblock content %}
        </div>
    </div>
</body>
</html>